---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogProse from "../../components/BlogProse.astro";

export async function getStaticPaths() {
    const posts: CollectionEntry<"blog">[] = await getCollection("blog");
    return posts.map((post) => {
        return {
            params: { slug: post.id },
            props: post,
        };
    });
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<style is:global>
    .blog-content {
        width: 50%;
    }
    .blog-content h1,
    .blog-content h2,
    .blog-content h3,
    .blog-content h4,
    .blog-content h5,
    .blog-content h6 {
        color: var(--accent-1);
    }
    div {
        color: var(--primary-text);
    }

    p {
        font-size: 1.3em;
    }

    @media (max-width: 768px) {
        .blog-content {
            width: 90%;
            margin: 0 auto;
        }
        
        p {
            font-size: 1.1em;
        }
    }
</style>

<Layout>
    <BlogProse prose_data={post.data} />
    <div class="blog-content">
        <Content />
    </div>
</Layout>
