:root {
    --background: #1C1C1C;
    --primary-text: #F5E8D8;
    --accent-1: #FF6F61;
    --accent-2: #DAA520;
    --hover: #FF4500;
}
html {
    height: 100%;
}

body {
    background-color: var(--background);
    color: var(--primary-text);
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    color: var(--accent-1);
}
a:hover {
    color: var(--hover); 
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}