---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>What's the purpose of this website?</h1>
        <p>
            I had the urge of making a blog for a long time. I like reading
            blogs, blogs seem real and beautiful for some reason to me. Writing
            in General I think is a really beautiful art, maybe cause it
            ostentates the world around me, with beautiful words like
            'ostentate' or maybe it showcases the world around us with so much
            passion and detail that it all feels like a fantasy that is the
            closest to the real world.

            <br />
            <br />
            Whether it be some therapist explaining what rationalism is, or some other
            person explaining how she spent her summer break on an island with her
            friends, or some journalist explaining his meeting with a with a untamed
            tech ceo. all these stories, all these people are normal people living
            their daily lives just like us, but words, and their blogs provide a way
            to them to appreciate the beauty of the life they are living, and capture
            it through words. I think that is a really therapeutic activity.
        </p>
        <p>
            whatever it may be, this website was necessary not for you or
            anyone, but for me. I will try to constantly write whatever things I
            find interesting, beautiful, boring, weird etc. etc. here and
            hopefully try to entertain you, or maybe even teach you something,
            or maybe learn something.
        </p>
    </main>
</Layout>

<style>
    main h1 {
        color: var(--accent-1);
    }
    main {
        flex: 1;
        margin: 2em 0;
        width: 50%;
        font-size: 1.1em;
    }
</style>
