---
const date = new Date();
---

<footer>
    <hr />
    <p>&copy; {date.getFullYear()} Daksh Sangal, All Rights Reserved.</p>
</footer>

<style>
    footer hr {
        width: 50%;
    }

    footer {
        margin-top: 3em;
        padding: 2rem;
        width: 100%;
        text-align: center;
        color: var(--primary-text);
    }

    footer p {
        padding: 1em;
    }
</style>
