---
import Meat from "../components/Meat.astro";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<Meat
			title="Daksh Sangal"
			description="Oh my! You are going to read what I really think."
		/>
	</head>
	<body>
		<div class="app">
			<Nav />
			<slot />
		</div>
	</body>
</html>

<style>
	.app{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
